@model IEnumerable<HighSchoolManager.Data.Groupe>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Groupe_designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref_Option)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Groupe_designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref_Option.Option_designation)/@Html.DisplayFor(modelItem => item.Ref_Option.Ref_Niveau.Niveau_designation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Groupe_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Groupe_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Groupe_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
