@model IEnumerable<HighSchoolManager.Data.Matiere>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matiere_designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref_Specialite)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matiere_designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref_Specialite.Specialite_designation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Matiere_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Matiere_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Matiere_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
