@model IEnumerable<HighSchoolManager.Data.Salle>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salle_designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salle_Capacite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Salle_designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salle_Capacite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Salle_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Salle_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Salle_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
