@model IEnumerable<HighSchoolManager.Data.Equippement>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equippement_designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref_TypeEquippement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref_Salle_equip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Equippement_designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref_TypeEquippement.Type_Equippement_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref_Salle_equip.Salle_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Equippement_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Equippement_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Equippement_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
