@model HighSchoolManager.Data.Seance

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seance_Jour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seance_Jour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seance_Heure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seance_Heure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ref_Enseignant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ref_Enseignant.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ref_Matiere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ref_Matiere.Matiere_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ref_Salle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ref_Salle.Salle_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ref_Groupe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ref_Groupe.Groupe_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Seance_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
