@model IEnumerable<HighSchoolManager.Data.Seance>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seance_Jour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance_Heure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref_Enseignant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref_Matiere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref_Salle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref_Groupe)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seance_Jour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seance_Heure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref_Enseignant.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref_Matiere.Matiere_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref_Salle.Salle_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref_Groupe.Groupe_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Seance_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Seance_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Seance_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
